*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:whitesmoke;
}
.nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 15px;
}
.allitem{
    display: flex;
    align-items: center;
}
.commonitem{
    padding: 15px 15px;
}
.commonitem:hover{
    border: 1px solid wheat;
    border-radius: 2px;
    margin: -1px;
}
.logo{
    margin: 1px;
    margin-bottom: -5px;
    padding: 5px 7px;
    width: 150px;
    height: 80px;
    border-radius: 10px;
}
p{
    font-size: 10px;
    line-height: 15px;
}
.commonitem i{
    padding: 5px;
}
.nav input{
    width: 700px;
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
    color: black;
}
.nav button{
    padding: 10px;
    font-size: 10px;
    border: none;
    color: black;
    border-radius: 5px 0 0 5px;
    cursor: pointer;

}
.nav .all{
    background-color: white;
    border-radius: 5px 0 0 5px;

}
.all i{
    color: black;
}

.nav .search{
    padding: 10px 15px;
    margin: -2px;
    font-size: 17px;
    background-color: orangered;
    border-radius: 0 5px 5px 0;

}
